@font-face {
    font-family:"digital-7-font";
    src: url(../digital-7/digital-7.ttf);
}

body {
    background-image: url(../images/2017_NBA_All-Star_Game.jpg);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    margin-top: 120px;
    /* margin-left: -7px; */
    max-width: 250px;
    line-height: 25px;
    text-align: center;
    
}

h1 {
    font-size: 26px;
    font-weight: bold;
    color: red;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

#game {
    font-family: "digital-7-font";
    font-size: 28px;
    color: blue;
    margin-top: 10px;
}

#guessedLetters {
    color: blue;
    line-height: 16px;
}

/* #winteamlogo {
    margin-top: 100px;
    margin: 0, auto;
} */

img {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

a {
    color: white;
}

footer {
    clear: both;
    overflow: auto;
    background: #666666;
    color: white;
    text-align: center;
    /* padding-top: 20px; */
    padding-bottom: 5px;
    border-top: 4px solid blue;
    /* to make a sticky footer */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
    }



/* Medium devices (landscape tablets, 1280px) */
@media only screen and (max-width: 1280px) {
    .container {
        max-width: 250px;
        line-height: 20px;
    }
} 

@media only screen and (max-width: 1080px) {
    .container {

        
        
        
        margin: 0 auto;
        margin-top: 100px;
        /* max-width: 220px;
        line-height: 16px; */
    }


    /* h1 {
        font-size: 20px;
    }
    
    h2 {
        font-size: 16px;

    } */

    
} 